
.navbar {
  height: 3.25rem!important;
}
html {
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
}
.lila{
  background-color: #6441A4!important;
  color: white!important;
}
.green{
  background-color: #23d160!important;
  color: white!important;
}
.prime{
  background-color: #00d1b2!important;
  color: black!important;
}
.dark{
  background-color: #363636!important;
  color: white!important;
}
.rot{
  background-color: #ff3860!important;
  color: white!important;
}
.blue{
  background-color: #209cee!important;
  color: white!important;
}
.hidden {
  display: none!important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectable {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
#content {
  margin-top: 3.25rem;
}
#footer {
  z-index: 100;
  width: 100vw;
  border-top: solid 1px #00d1b2;
}
#header {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100vw;
}
#iframe{
  width: 100%;
}
.notification{
  margin-bottom: .25rem;
  min-width: 300px;
  border: solid #363636 1px;
}
#notifications{
  position: fixed;
  right: .25rem;
  top: 3.5rem;
  z-index: 300;
  width: 20%;
  min-width: 300px;
  max-width: 100%;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fly-in{
  animation: fly;
  animation-name: fly;
  animation-duration: .2s;
}
@keyframes fly {
    from {opacity: 1; margin-left: 300px;}
    to {opacity: 1; margin-left: 0px;}
}
