
--primary:#06c;
html {
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
}
.hidden {
  display: none!important;
}
#content {
  margin-top: 3.25rem;
}
#footer {
  z-index: 100;
  width: 100vw;
  border-top: solid 1px #00d1b2;
}
#header {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100vw;
  border-bottom: solid 1px #00d1b2;
}
